.quoteSwiper {
    height: 12.5vw;
    position: relative;
    width: 22.422vw;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: white;
    padding-bottom: 15%;
}