.navbar {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0.781vw 1.563vw; 
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(9,40,46);
}

.icon {
    flex-shrink: 0; 
    width: 12.5%;
    margin-left: 10%;
}

.links {
    display: flex; 
    gap: 25%;
    white-space: nowrap;
    justify-content: flex-end;
    margin-right: 10%;
}

.link {
    font-size: 1.125vw;
    color: white;
    font-family: 'acumin-pro', sans-serif;
}