.overlay {
    position: absolute;
    top: 12.5%;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1;
}


.title {
    font-family: 'acumin-pro-extra-condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 95%;
    text-align: center;
}

.carousel {
    padding-top: 3vw;
}